.detail-profil {
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   margin-top: 1rem;
}

.bg-secondary{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   margin-top: 1rem;
}